@-moz-document domain("freelance.habr.com") {
    :root {
    --background-for-all: #161616;
    --border-color-for-all: #1c1c1c;
    --box-shadow-color-for-all: #292929;
    --a-links-footer-for-all: #33457e;
    --h5-footer-for-all: #4863b7;
    --social-a-links-for-all: #777;
    --task-description-color-for-all: #938b8b;
    --form-control-background-color-for-all: #272727;
    --background-dropdown-links-hover: #4863b7;
    --page-static-color-p-for-all: #737373;
    --menu-user-settings-backgound-color: #2d2d2d;
    --menu-user-settings-color: #cacaca;
    --text-color-question-append: #868686;
    --text-color-a-question: #868686;
    --question-title-a-color: #7a7a7a;
    --current-service-backgound-hover: #515151;
    --search-suggest-field-backgound: background: #202020;
    --task-list-color: #939393;
    --profile-blocks-title-backgound: #1c1c1c;
    --btn-greendisabled-file-upload-background: #4b4b4b; 
    --btn-greendisabled-file-upload-color: #b7b7b7;
    --payment-form-block-backround: #313131;
    --tabs-background: #222;
    --tabs-menu-link-backgound-hover: #1e1e1e;
    --tabs-menu-link-backgound-active: #292929;
    --right-a-color: #696969;
    --form-control-choosen-backgound: #3a3a3a;
    --button-whatinput-color-hover: #474747;
    --personal-area-header-title-color: #6f6f6f;
    --tap-button-color: #6f6f6f;
    --button-header-personal-color: #9c9c9c;
    --button-header-personal-background: #3a3a3a; 
    --button-header-personal-color-hover: #9c9c9c;
    --button-header-personal-backround-hover: #272727;
    --btn-green-backgound: #2b2b2b;
    --btn-header-color: #808080;
    --btn-header-background: #2d2d2d;
}
body {
    background: var(--background-for-all);
}
#TMpanel {
    background: var(--background-for-all);
}
.container {
    background: var(--background-for-all);
}
.task_list {
    color: var(--task-list-color);
}
.header {
    background-color: var(--background-for-all);
    --header-backgroundColor: #161616;
    border: 1px solid var(--border-color-for-all);
}
.button:hover, [data-whatinput=keyboard] .button:focus {
    color: var(--button-whatinput-color-hover);
}
.button--header--personal {
    color: var(--button-header-personal-color);
    background: var(--button-header-personal-background);
    border: none;
}
.form-fields__group_buttons {
    background: var(--background-for-all);
}
.btn_green, .btn_file-upload, .btn_bordered, .jGrowl .button {
    background: var(--btn-green-backgound);
}
.btn:hover, .btn_green:hover, .btn_file-upload:hover, .btn_bordered:hover, .jGrowl .button:hover, .btn_blue:hover, .btn_purple-small:hover, .btn_blue-small:hover, .btn_red:hover, .btn_grey:hover, .btn_dark-blue:hover, .btn_light-blue:hover, .btn_yellow:hover, .button_up:hover, .btn_plan:hover, .btn_light:hover {
    color: var(--btn-header-color);
    background: var(--btn-header-background);
}
.button--header--personal:hover {
    color: #9c9c9c;
    background: var(--button-header-personal-backround-hover);
}
.form-control[disabled], .chosen-container-single [disabled].chosen-single, .form-control[readonly], .chosen-container-single [readonly].chosen-single, fieldset[disabled] .form-control, fieldset[disabled] .chosen-container-single .chosen-single, .chosen-container-single fieldset[disabled] .chosen-single {
    background: var(--background-for-all);
}
.button--grey-outlined {
    --button--OutlineColor: none;
}
.form-control, .chosen-container-single .chosen-single {
    background: var(--form-control-choosen-backgound);
}
.personal-area-header__title {
    color: var(--personal-area-header-title-color);
}
.horizontal-overflow:before {
    background: none;
}
.soft-box {
    background: var(--background-for-all);
}
.tab-button {
    color: var(--tap-button-color);
}
.main_header {
    background: var(--background-for-all);
    border: 1px solid var(--border-color-for-all);
}
.btn_green:disabled, .btn_file-upload:disabled, .btn_bordered:disabled, .jGrowl .button:disabled, .btn_green.btn_disabled, .btn_disabled.btn_file-upload, .btn_disabled.btn_bordered, .jGrowl .btn_disabled.button {
    color: var(--btn-greendisabled-file-upload-color);
    background: var(--btn-greendisabled-file-upload-background);
}
.btn:disabled, .btn_green:disabled, .btn_file-upload:disabled, .btn_bordered:disabled, .jGrowl .button:disabled, .btn_blue:disabled, .btn_purple-small:disabled, .btn_blue-small:disabled, .btn_red:disabled, .btn_grey:disabled, .btn_dark-blue:disabled, .btn_light-blue:disabled, .btn_yellow:disabled, .button_up:disabled, .btn_plan:disabled, .btn_light:disabled, .btn.btn_disabled, .btn_disabled.btn_green, .btn_disabled.btn_file-upload, .btn_disabled.btn_bordered, .jGrowl .btn_disabled.button, .btn_disabled.btn_blue, .btn_disabled.btn_purple-small, .btn_disabled.btn_blue-small, .btn_disabled.btn_red, .btn_disabled.btn_grey, .btn_disabled.btn_dark-blue, .btn_disabled.btn_light-blue, .btn_disabled.btn_yellow, .btn_disabled.button_up, .btn_disabled.btn_plan, .btn_disabled.btn_light {
    color: var(--btn-greendisabled-file-upload-color);
    background: var(--btn-greendisabled-file-upload-background);
}
.payment_forms_block .table_payment tr.option.active td {
    background: var(--payment-form-block-backround);
}
#TMpanel .dropdown-heading {
    background: var(--background-for-all);
    border: 1px solid var(--border-color-for-all);
}
.profile-blocks__title {
    background: var(--profile-blocks-title-backgound);
}
.dropdown-heading a {
    color: var(--task-list-color);
}
.tabs-menu {
    background: var(--tabs-background);
}
.tabs-menu__link {
    border: 1px solid var(--border-color-for-all);
}
.personal-area-header {
    background: var(--tabs-background);
}
.right a {
    color: var(--right-a-color);
}
.tabs-menu__link.link_active {
    background: var(--tabs-menu-link-backgound-active);
}
.tabs-menu__link:hover {
    background: var(--tabs-menu-link-backgound-hover);
}
#TMpanel .dropdown {
    background: var(--background-for-all);
}
#TMpanel .current, #TMpanel .service:hover {
    background: var(--current-service-backgound-hover);
}
.search-suggest {
    border-bottom: 1px solid var(--border-color-for-all);
}
.content-list__item .task:after {
    border: 1px solid var(--border-color-for-all);
}
.content-list__item {
    border: 1px solid var(--border-color-for-all);
}
.task_list {
    border: 1px solid var(--border-color-for-all);
}
.menu_user-settings {
    background: var(--background-for-all);
}
.menu_user-settings .menu__item, .menu_user-settings .tabs-menu__item, .menu_user-settings .icons-bar_horizontal .icons-bar__item, .icons-bar_horizontal .menu_user-settings .icons-bar__item, .menu_user-settings .icons-bar_socials .icons-bar__item, .icons-bar_socials .menu_user-settings .icons-bar__item, .menu_user-settings .icons-bar_keys .icons-bar__item, .icons-bar_keys .menu_user-settings .icons-bar__item {
    border: 1px solid var(--border-color-for-all);
}
.menu_user-settings .menu__link:hover {
    color: var(--menu-user-settings-color);
    background: var(--menu-user-settings-backgound-color);
}
.content-list__item_marked .task, .content-list__item_marked .user {
    background: var(--background-for-all);
    border: 1px solid var(--border-color-for-all);
}
.questions .question+.question {
    border: 1px solid var(--border-color-for-all);
}
.questions .question .title a {
    color: var(--question-title-a-color);
}
.questions .question.open .text {
    color: var(--text-color-question-append);
}
.questions .question.open .title a {
    color: var(--text-color-a-question);
}
.user {
    border: 1px solid var(--border-color-for-all);
}
.main_header .right_menu .top_menu_dropdown .top_menu_dropdown_links>a+a {
    border: 1px solid var(--border-color-for-all);
}
.main_header .right_menu .top_menu_dropdown .top_menu_dropdown_links {
    border: 1px solid var(--border-color-for-all);
    background: var(--background-for-all);
box-shadow: 0px 3px 5px var(--box-shadow-color-for-all);
}
.main_header .right_menu .top_menu_dropdown .top_menu_dropdown_links>a:hover {
    background: var(--background-dropdown-links-hover)
}
.response-list__header {
    background: var(--background-for-all);
}
.form-control, .chosen-container-single .chosen-single {
    background: var(--form-control-background-color-for-all);
}
.content-list__item .task:after, .content-list__item .user:after {
    border: 1px solid var(--border-color-for-all);
}
.task_detail .task__description {
    color: var(--task-description-color-for-all);
}
.inner {
    background: var(--background-for-all);
}
.page_static {
    color: var(--page-static-color-p-for-all);
}
.sidebar-block+.sidebar-block {
    border: 1px solid var(--border-color-for-all);
}
.layout__footer .social a {
    color: var(--social-a-links-for-all);
}
.page-title {
    background: var(--background-for-all);
    border: none;
}
.main-content {
    background: var(--background-for-all);
    box-shadow: 0px 3px 5px var(--box-shadow-color-for-all);
}
.search-suggest___field {
    background: var(--search-suggest-field-backgound);
}
.layout__body {
    background: var(--background-for-all);
}
.layout-block_hantim .layout-block__title {
 border: 1px solid var(--border-color-for-all);
}
.layout-block {
background: var(--background-for-all);
    box-shadow: 0px 3px 5px var(--box-shadow-color-for-all);
}
.category-group {
    background: var(--background-for-all);
}
.layout-block_categories .layout-block__title {
    border-top: 1px solid var(--border-color-for-all);
    border-bottom: 1px solid var(--border-color-for-all);
    background: var(--background-for-all);
}
.layout-block__footer {
    background: var(--background-for-all);
}
.layout-block__content {
    background: var(--background-for-all);
}
.layout {
    background: var(--background-for-all);
}
.pagination {
    background: var(--background-for-all);
    border-top: 1px solid var(--border-color-for-all);
}
.layout__footer {
    background: var(--background-for-all);
}
.top_menu_dropdown_links {
    background: var(--background-for-all);
}
.subscription .greybg {
    background: var(--background-for-all);
}
.layout__footer .links h5, .layout__footer .social h5 {
    color: var(--h5-footer-for-all);
}
.layout__footer .links li a {
    color: var(--a-links-footer-for-all);
}
}